.chat-user-list
  &-item
    display flex
    flex-flow row wrap
    & > *
      flex 1 100%
  &-image
    flex 0 1 40px
    height 40px
    border-radius 50%
    background-position center
    background-size cover

  &-name
    margin-left 4px
    flex 2 0

  &-timestamp
    flex 2 0

  &-message
    padding-top 8px